<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="javascript:void(0)" class="font-weight-bold">
            SGD-AVEIT 2026
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            Estatuto Asociativo
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            Reglamento Interno de Disciplina
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            UTN FRC
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy; {{test | date: 'yyyy'}} - Desarrollado para la Asociación Vocacional de Estudiantes e Ingenieros Tecnológicos.
    </div>
  </div>
</footer>
